h1{
text-align: center;

}
#right-block{
    width: 20%;
    height: 5000px;
    background-color:rgb(0, 25, 139);
   float:right;


}
#left-block{
    width: 20%;
    height: 5000px;
    background-color:rgb(0, 25, 139);
   float:left;


}

#primeCheck{
    text-align:center;
}
#factorialWorkSpace{
    text-align:center;
}

#Message{
text-align:center;

}
#prime-number{
    width:300px;
    height:100px;
    border: none;
    color:white;
    background-color:rgb(255,0,60);
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #f98806;
    transition: ease-out 0.3s;
    font-size:2rem;
    outline: none;
}
#prime-number:hover{
    box-shadow: inset 300px 0 0 0 #f98806;
}
#factorial-number{
    width:300px;
    height:100px;
    border: none;
    color:white;
    background-color:rgb(0, 153, 255);
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #a006f9;
    transition: ease-out 0.3s;
    font-size:2rem;
    outline: none;



}
#factorial-number:hover{
    box-shadow: inset 300px 0 0 0 #a006f9;
}





#logoBlock{
text-align:left;
}
#logo{
    width:5%;
    height:5%;
}